

$height: 24px;

[lstree]{
	padding: 10px;
	line-height: $height;
	font-size: 14px;

	user-select: none;
	-webkit-user-select: none;

	ul{
		margin: 0;
		padding: 0 5px 0 26px;
		list-style: none;
		height: $height;
		overflow: hidden;
		position: relative;
	}

	.state-flag{
		position: absolute;
		left: 4px;
    	top: 7px;
    	z-index: 2;
		width: 12px;
		height: 12px;
		background: #666;
		cursor: pointer;

		&:before,
		&:after{			
			content: '';
			position: absolute;	
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 8px;
			margin: auto;
			background: #fff;
		}

		&:after{
			height: 8px;
			width: 1px;
		}
	}

	.tree-open{
		height: auto;

		&>.state-flag{
			&:after{
				display: none;
			}
		}
	}

	.tree-title{
		cursor: pointer;
	}

	li{
		position: relative;

		&:before{
			content: '';
			position: absolute;	
			top: 0;
			left: -16px;
			width: 10px;
			height: 14px;
			border-left: 1px solid #aaa;
			border-bottom: 1px solid #aaa;		
		}
	}

	.checkbox{
		float: left;		
		width: 14px;
		height: 14px;
		margin-right: 5px;
		margin-top: 5px;
		border: 1px solid #aaa;
		cursor: pointer;
		background: #fff;

		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		&:before,
		&:after{	
			content: '';
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}


		&.checked{
			border: none;
			background: #398DEE;
			position: relative;

			&:before,
			&:after{			
				content: '';
				position: absolute;					
			    top: 8px;
			    left: 2px;
			    height: 1px;
			    width: 5px;
				background: #fff;

				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			&:after{    
				width: 10px;
			    left: 4px;
			    top: 6px;
			    -webkit-transform: rotate(-55deg);
			    transform: rotate(-55deg);
			}
		}

		&.half-checked{
			border: 2px solid #fff;
			outline: 1px solid #aaa;
			background: #398DEE;

			&:before,
			&:after{	
				display: none;
			}		
		}
	}
}

